{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>Registration</title>
{% endblock title %}

{% block content %}



<div class="col-sm-10">
    <h3 class="text-white my-3 text-center">Become an Author</h3>
    <!-- Message Show -->
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    
    <form action="" method="POST" novalidate>
        {% csrf_token %}

        {% for fm in form %}
        <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}

        <input type="submit" value="Submit" class="btn btn-primary">

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3 ">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock content %}